.show-card{
  list-style: none;
  margin: 20px;
  box-shadow: 6px 13px 23px -11px rgba(0,0,0,0.75);
  padding: 10px 0;
  .title{
    font-size: 120%;
    color: #3857a5;
    margin-bottom: 10px;
  }
  .genre {
    font-size: 90%;
    color: black;
    font-style: italic;
  }
}